
  <div class="card">
    <div>
      <img src="../assets/WhatsApp Image 2024-03-05 at 9.11.29 PM.png" />
    </div >
    <div class="card-contain">
      <div>
        <span class="card-title">Sradhasis jethy</span>
      </div>
      <div>
        <span class="card-subtitle">India,Odisha Cuttack </span>
      </div>
      <div class="card-detail">
        <span>"Front-end developer and avid reader."</span>
      </div>
      <div class="context">
        <button class="btn-button" onclick="location.href='https://github.com/Sradhasisjethy/git.demo/blob/main/README.md?plain=1'">GitHub</button>
        <button class="btn-button" onclick="location.href='https://www.frontendmentor.io/home'">Frontend Mentor</button>
        <button class="btn-button" onclick="location.href='https://www.linkedin.com/feed/'">Linkedln</button>
        <button class="btn-button" onclick="location.href='https://twitter.com/?lang=en'">Twitter</button>
        <button class="btn-button" onclick="location.href='https://www.instagram.com/'">Intagram</button>
      </div>
    </div>
  </div>